<div class="{{ctx.className}}">
  <div style="position: relative;">
    {% if (ctx.wizardHeaderType === 'wizardHeaderVertical') { %}
      <div class="ui stackable grid">
        <div class="three wide computer sixteen wide tablet sixteen wide mobile column">
          {{ ctx.wizardHeader }}
        </div>
        <div class="one wide computer one wide mobile one wide tablet column"></div>
        <div class="wizard-page ten wide computer fourteen wide tablet fourteen wide mobiles column" ref="{{ctx.wizardKey}}">
          {{ctx.components}}
        </div>
      </div>
      <div class="ui grid" style="margin-top: 10px;">
        <div class="four wide column"></div>
        <div class="twelve wide column">
          {{ ctx.wizardNav }}
        </div>
      </div>
    {% } else { %} 
      {{ ctx.wizardHeader }}
      <div class="wizard-page" ref="{{ctx.wizardKey}}">
        {{ctx.components}}
      </div>
      {{ ctx.wizardNav }}
    {% } %} 
  </div>
</div>