<nav aria-label="navigation" id="{{ ctx.wizardKey }}-header">
  <div class=" ui stackable grid" style="border-bottom:0;">
    {% ctx.panels.forEach(function(panel, index) { %}
      <div class="classic-pagination-page four wide computer eight wide tablet sixteen wide mobile column
          {{ctx.currentPage < index ? ' disabled' : ''}}
          {{ctx.currentPage === index ? ' active' : ''}}
          {{ctx.currentPage > index ? ' complete' : ''}}" style="padding: 0;">
        <div class="ui center aligned header classic-pagination-title">{{ctx.t(panel.title, { _userInput: true })}}</div>
        {% if (ctx.panels.length > 1) { %}
          <div class="classic-pagination-progress" style="border-radius: 0;"><div class="classic-pagination-progress-bar"></div></div>
        {% } %} 
        <span ref="{{ctx.wizardKey}}-link" class="classic-pagination-dot" style="top: 45px;"></span>
      </div>
    {% }) %}
  </div>
</nav>
